#para1{
 font-family: 'Dancing Script', cursive;
 color:cornsilk;
  font-size:30px;
  line-height:60px;
  font-weight:lighter;
  background-color:brown;
}
#para2{
  font-family: 'Dancing Script', cursive;
  line-height:6mm;
  font-weight:lighter;
  color:cornsilk;
  background-color:brown;
  
}